# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/
backup/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.

dataset/TestDataset/
dataset/TrainDataset/
dataset/TestSet.zip
dataset/TrainSet.zip
my_workspace/
lib_pytorch/snapshot/
lib_pytorch/result/