backcall==0.2.0
backports.lzma==0.0.14
certifi==2021.5.30
cffi==1.12.3
charset-normalizer==2.0.4
click==8.0.3
decorator==4.4.2
docutils==0.18.1
docwriter==1.3.2
freetype-py==2.2.0
ghp-import==2.0.2
idna==3.2
imageio==2.22.0
imageio-ffmpeg==0.4.7
importlib-metadata==4.8.1
Jinja2==3.0.2
Markdown==3.3.4
MarkupSafe==2.0.1
mergedeep==1.3.4
mistune==0.8.4
mkdocs==1.2.1
mkdocs-material==7.1.9
mkdocs-material-extensions==1.0.3
moviepy==1.0.3
mpmath==1.2.1
numpy==1.21.2
opencv-python==4.5.3.56
packaging==21.0
pandas==1.3.2
pathlib2==2.3.6
Pillow==9.3.0
proglog==0.1.10
protobuf==3.17.3
psutil==5.8.0
pycparser==2.20
Pygments==2.10.0
pymdown-extensions==9.0
pyparsing==3.0.1
python-dateutil==2.8.2
pytz==2021.1
PyYAML==5.4.1
pyyaml_env_tag==0.1
requests==2.26.0
scipy==1.7.1
six==1.16.0
Sphinx==1.2.3
sympy==1.4
torch==1.8.0
tqdm==4.64.1
typing-extensions==3.10.0.0
urllib3==1.26.6
watchdog==2.1.6
zipp==3.6.0
